@{
    ViewData["Title"] = "E-posta Doğrulama Başarısız";
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-danger">
    E-posta doğrulama başarısız oldu veya bağlantı süresi dolmuş.
</div>

<a asp-controller="Account" asp-action="Login">Giriş sayfasına dön</a>
